<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Samiul Fahad" />
        <meta name="author" content="" />
        <title>Resume of Samiul Fahad</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Samiul Fahad</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li? class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Samiul
                        <span class="text-primary">Fahad</span>
                    </h1>
                    <div class="subheading mb-2">
                        Bhaluka · Mymensingh, Bangladesh · (+88) 01723939836 ·<span>  </span>
                        <a href="mailto:name@email.com" class="text-lowercase text-decoration-none">samiul_fahad@yahoo.com</a>
                    </div>
                    <p class="lead mb-5"> Hello, I am Samiul Fahad and I thank you for your interest to view my resume online. I express myself as "JavaScript Lover". I am
                        experienced in Node.js, Express.js, MongoDB, Mongoose, REST APIs. I also know other object-oriented programming languages like C#, Python, PHP. I am looking to settle down myself 
                        to a place where I can work friendly, learn and grow gradually.I am highly interested to work in Backend.</p>

                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="iconify" data-icon="logos:javascript"></i></li>
                        <li class="list-inline-item"><i class="iconify" data-icon="logos:nodejs"></i></li>
                        <li class="list-inline-item"><i  class="iconify" data-icon="logos:express"></i></li>
                        <li class="list-inline-item"><i class="iconify" data-icon="logos:mongodb-icon"></i></li>
                        <li class="list-inline-item"><i class="iconify" data-icon="eos-icons:api"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                        <li class="list-inline-item"><i class="iconify" data-icon="bi:git"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="iconify" data-icon="logos:bootstrap"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                    </ul>
                    
                    <div class="subheading mb-3 text-primary">Primary Skills</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Programming Languages: JavaScript (Both ES5 & ES6+), Python, C#, C
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Node.js, Express.js
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            MongoDB, Mongoose
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            REST APIs Development
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Linux Server (Ubuntu) Administration on DigitalOcean, Vultr
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            JEST Testing Framework, Super-test
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Git & Github
                        </li>
                    </ul>
                    
                    <div class="subheading mb-1">Secondary Skills</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            React.js (Hooks & Class Component)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Bootstrap
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Wordpress
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            HTML
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            CSS
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
             <!-- Projects-->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-2">Projects</h2>
                    <div class="mb-5">
                        <div class="subheading mb-1">Project-1 (Realtime Chat App)</div>
                        <p>User can create a chatroom and anyone with 
                            the chatroom name can join. No Page Reload is Required to get notified and send messages </p>
                            <b>Technologies Used:</b> <p>Node.js, Express.js, Socket.io </p>
                            <a href="https://sfahad-chat-app.herokuapp.com/" target="_blank"><button class="btn btn-success">Project-1</button> </a>
                    </div>
                    <div class="mb-5">
                        <div class="subheading mb-1">Project-2 (Task Manager API)</div>
                        <div>
                            <b>Complete CRUD operation</b><br>
                            User can create account and  tasks. Users can also upload profile picture and update their profile.<br>
                            This REST API Project has Protected routes, Authentication, File Upload, Email Sending and other features. You need Postman to interact with the api endpoints. <br>
                            <b>Technologies Used:</b> Node.js, Express.js, MongoDB, Mongoose, JSON Web Token, Multer and more
                        </div>
                        <ul class="fa-ul mb-3">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /sign-up (POST) to create a user with email and password field.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /login (POST) to login using a valid email and password. A token will be provided.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /profile (GET) to read own profile
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /profile (PATCH) to update profile
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /profile/avatar (POST/GET/DELETE, ##field name=> avatar) to interact with profile Picrure
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /profile/delete (DELETE) to delete own profile
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /logout (POST) to logout and delete a jwt token
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /logoutall (POST) to expire all active sessions
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /task (POST) to create a task with Title, Description and Completed (Boolean) field
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /task/:id (POST) to update a Task
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /task/:id (GET/DELETE) to read and delete a task
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                endpoint /tasks (GET) to read all tasks of the logged in user
                            </li>
                        </ul>
                        <button class="btn btn-success">Project-2</button> 
                    </div>
                    <div>
                        <div class="subheading mb-1">Project-3 (Weather App)</div>
                        <p>Visitors can get the weather information of any place by entering the name of that place.</p>
                        <b>Technologies Used:</b> <p>API from <a href="https://www.mapbox.com">Mapbox</a> 
                        and <a href="https://openweathermap.org">Open Weather Map</a> and Node.js, Express.js,</p>
                        <a href="https://sfahad-weather-app.herokuapp.com" target="_blank"> <button class="btn btn-success">Project-3</button></a> 
                    </div>  
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">National Institute of Technology Durgapur, India</h3>
                            <div class="subheading mb-3">Bachelor of Technology (B.Tech) 
                                in Electronics & Communication Engineering 
                            </div>
                            <div>CGPA: 6.44 out of 10</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">July 2016 - June 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Shahjalal University of Science & Technology (SUST), Sylhet</h3>
                            <div class="subheading mb-3">Bachelor of Science in Physics</div>
                            <p>GPA: incomplete (I was awarded ICCR Scholarship and I left SUST for NIT Durgapur, India)</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2015 - 2016</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Notre Dame College, Dhaka</h3>
                            <div class="subheading mb-3">Higher Secondary Certificate (HSC) - Science (Math, Physics, Chemistry)</div>
                            <p>GPA: 5 out of 5</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2012 - 2014</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Developer Intern at Moving Mountains Tutoring & Mentoring, Florida, USA</h3>
                            <div class="subheading mb-3">Added New Features and improved web performance</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May, 2021 - Jul, 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Internship at Project CityProbe, IMPRINT India</h3>
                            <div class="subheading mb-3">Server Configuration</div>
                            <p>This Project was funded by the Central Govt. of India. Here I configured an Ubuntu 18.04 LTS Server with Nginx as webserver, UFW, SSH authentication, fail2ban and used WordPress for Frontend</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May, 2019 - Jul, 2019</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            ICCR Scholarship offered by the Central Govt. of India
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            JavaScript Courses on Udemy
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Node.js Courses on Udemy
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            DOM related Courses on Udemy
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    </body>
</html>
